@import "variables.scss";
@import "media.scss"; 

html {
	font-size: $mainSize;
}

body {
	font: {
		family: 'ArialRegular', Helvetica, sans-serif;
		size: 2vmax;
		weight: 400;
	}
	background-color: $lightGray;
	color: $black;
	line-height: 2.8vmax;
	min-width: 32rem;
}

.container {
	margin: 0 auto;
	width: 90%;
}

.menu {
	background-color: $black;
	border: .1rem solid $lightGray;
	box-shadow: none;
	cursor: pointer;
	display: block;
	height: 4rem;
	margin: -4.8rem 0 0 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	transition: background 0.3s;
	width: 4rem;
	float: right;
	&:focus {
		outline: none;
	}
	&:before, &:after {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
	}
	&:before {
		background: $white;
		top: 0;
		height: .5rem;
	}
	&:after {
		bottom: 0;
		border-top: .5rem solid $white;
		border-bottom: .5rem solid $white;
		height: 1.2rem;
	}
}

.btn {
	background-color: $black;
	border-radius: 0;
	border: .1rem solid $gray;
	color: $white;
	cursor: pointer;
	display: inline-block;
	line-height: 1.8rem;
	padding: .5rem 1.3rem;
	position: relative;
	text-decoration: none;
	font: {
		family: 'ArialBold', Arial, Helvetica, sans-serif;
		size: 1.4rem;
		weight: 700;
	}
}

h2, h3 {
	font: {
		family: 'ArialBold', Helvetica, sans-serif;
		weight: 700;
	}
	color: $whiteSmoke;
	text-align: center;
	strong {
		color: $black;
	}
}

h2 {
	font-size: 3rem;
	line-height: 3.4rem;
	margin-bottom: .6rem;
	margin-top: 3rem;
}

h3 {
	font-size: 2rem;
	line-height: 2.4rem;
	margin-bottom: .9rem;
}

p {
	margin-bottom: .8rem;
	span {
		font-family: 'ArailItalic', Helvetica, sans-serif;
	}
}

.quote {
	color: $snow1;
	display: inline-block;
	font-family: 'ArailItalic', Helvetica, sans-serif;
	margin-bottom: 2.9rem;
	padding-left: 1.7rem;
	position: relative;
	&:before {
		background-color: $snow1; 
		content: "";
		height: 1px;
		left: 0;
		position: absolute;
		top: 9px;
		width: 13px;
	}
}
.images {
	margin-bottom: 1.4rem;
	position: relative;
	text-align: center;
	li {
		border: 1.1rem solid $snow2;
		display: inline-block;
		margin-left: 0;
		margin-bottom: 1rem;
	}
}

.column {
	display: inline-block;
	margin-bottom: 4.2rem;
	margin-left: 4.6rem;
	.circle {
		list-style: disc;
	}
	.numbers {
		list-style: decimal;
	}
	.nth-child {
		li:nth-child(2n) {
			font-weight: 700;
			padding-left: 3.4rem;
		} 
	}
}

.first {
	margin-left: 3.3rem;
}

.table-holder {
	width: 100%;
	overflow-x: scroll;
	margin-bottom: 2.3rem;
	table, th, td {
		border-collapse: collapse;
		border: .1rem solid $snow3;
	}
	table {
		width: auto;
		th {
			background-color: $grey1;
			font-family: 'ArialBold', Helvetica, sans-serif;
			font-weight: 700;
			text-align: left;
		}
		th, td {
			padding: 1rem;

		}
	}	
}

form {
	overflow: hidden;
	position: relative;
	width: 100%;
	p {
		margin-bottom: .4rem;
	}
	.holder {
		margin-bottom: 1.4rem;
		position: relative;
		.input-field, .custom-search {
			display: inline-block;
			width: 90%;
		}
		.input-field, .custom-search, textarea {
			border: .1rem solid $grey2;
			box-sizing: border-box;
			padding: .8rem;
		}
		.custom-search {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: url(../images/custom-select-arrow.png) 96% / 15% no-repeat;
			background-size: 1.7rem 1.8rem;
		}
		textarea {
			display: block;
			margin-bottom: 1.5rem;
			resize: none;
			width: 100%;
		} 
	}
	.btn {
		border-color: $black;
		padding: 1rem 2.3rem;
	}
}

.custom-checkbox {
	input[type="checkbox"]:checked + label:after {
		background: url(../images/checkbox-2.png);
	}
	label:after {
		background: url(../images/checkbox-1.png);
	}
}
.custom-radiobutton {
	input[type="radio"]:checked + label:after {
		background: url(../images/radio-button-2.png);
	}
	label:after {	
		background: url(../images/radio-button-1.png);
	}
}

.custom-checkbox, .custom-radiobutton {
	input[type="checkbox"], input[type="radio"] {
		display: none;
	}
	label {
		padding-left: 2rem;
		position: relative;
		&:after {
			content: "";
			height: 1.3rem;
			left: 0;
			position: absolute;
			top: 0;
			width: 1.3rem;
		}
	}
}

.search {
	background-color: $darkGray;
	border: .1rem solid $gray;
	color: $grey1;
	display: inline-block;
	height: 2.6rem;
	margin-left: 5.1rem;
	padding-left: .7rem;
	width: 70%;
}
//START HEADER
.header {
	position: relative;
	z-index: 2;
	font: {
		family: 'ArialBold', Helvetica, sans-serif;
		size: 1.4rem;
		weight: 700;	
	}
	line-height: 1.8rem;
	.top-header {
		background: url(../images/background.png) repeat-x; 
		overflow: hidden;
		padding: .7rem;
		position: relative;
		.left {
			float: left;
			position: relative;
			width: 50%;
			.logo {
				background: url(../images/logo.png) no-repeat;
				height: 4.1rem;
				width: 15.2rem;
			}
		}
		.right {
			display: none;
			float: right;
			margin-top: 0.5rem;
			position: relative;
			width: 50%;
			button {
				margin-left: 1rem;
			}
		}
	}
	.bottom-header {
		background-color: $black;
		.container {
			position: relative;
			.banner {
				color: $white;
				height: 32.8rem;
				line-height: 2.8vmax;
				position: relative;
				font: {
					family: 'ArialRegular', Helvetica, sans-serif;
					size: 2vmax;
					weight: 400;
				}
				.slogan {
					background: rgba(0, 0, 0, .50);
					bottom: 0;
					left: 0;
					padding: 1.4rem 2rem;
					position: absolute;
					right: 0;
					margin-bottom: 0;
				}
				.wrapper {
					height: 100%;
				}
			}
			nav {
				display: none;
				left: 0;
				right: 0;
				background-color: $black;
				.navigation {
					li {
						border-left: .1rem solid $smoky1;
						float: left;
						margin: 0;
						&:first-child {
							border-left: none;
						}
						&:last-child {
							border-right: .1rem solid $smoky1;
						}
					}
				}
			}
			.nav-mobile-first {
				display: block;
				padding-top: 10px;
				top: 0;
    			margin-top: -10px;

				&:hover ul {
					background-color: $black;
				}
				.navigation {
					display: none;
					text-align: left;
					li {
						float: none;
						border-left: 0;
						margin-bottom: 2rem;
						margin-left: 2rem;
						&:first-child {
							margin-top: 1rem;
						}
						&:last-child {
							border-right: 0;
						}
						.right {
							.search {
								margin-left: 0;
								width: 60%;
							}
						}
					}
				}
			}
			.nav-mobile-first:hover .navigation {
				display: block;
			}
			nav, nav-mobile-first {
				position: absolute;
				.navigation {
					line-height: 1.8rem;
					overflow: hidden;
					font: {
						family: 'ArialBold', Helvetica, sans-serif;
						size: 1.4rem;
						weight: 700;	
					}
					li {
						a, span {
							color: $white;
							display: inline-block;
							padding: .8rem 2.4rem;
							text-decoration: none;
							-o-transition: background .3s;
							-webkit-transition: background .3s;
							&:hover, &:focus, &:active {
								@extend .active;
							}
						}
						.active {
							background-color: $white;
							color: $black;
						}
					}
				}
			}
		}
	}
}
//END HEADER
//START MAIN
.main {
	.container {
		background-color: $white;
		border: .1rem solid $lightSmoky;
		border-width: 0, .1rem, .1rem, .1rem;
		.our-work {
			padding: 1.3rem 2.4rem 1.2rem;
			position: relative;
		}
	}
}
.main, footer {
	background-color: $lightGray;
	position: relative;
}
//END MAIN
//START FOOTER
footer {
	padding: .9rem 0 .8rem; 
	color: $grey3;
	p {
		margin-bottom: 0;
	}
}
//END FOOTER