$mainSize: 62.5%;
$black: #000;
$darkGray: #323232;
$gray: #4c4c4c;
$lightGray: #e7e7e7;
$grey1: #efefef;
$grey2: #b7b7b7;
$grey3: #656565;
$smoky1: #272727;
$smoky2: #b0b0b0;
$lightSmoky: #c0c0c0;
$whiteSmoke: #838383;
$snow1: #8b8b8b;
$snow2: #e2e2e2;
$snow3: #d5d5d5; 
$white: #fff;