doctype html
html(lang="en")
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="utf-8")
		title Black and White
		link(rel="stylesheet" href="../css/reset.css")
		link(rel="stylesheet" href="../css/font-face.css")
		link(rel="stylesheet" href="../css/variables.css")
		link(rel="stylesheet" href="../css/common.css")
		link(rel="stylesheet" href="../css/media.css")
	body
		//START HEADER
		include /app/html/includes/header.jade
		//END HEADER
		//START MAIN
		include /app/html/includes/main.jade
		//END MAIN
		//START FOOTER
		include /app/html/includes/footer.jade
		//END FOOTER
		script(src="../bower_components/jquery/dist/jquery.min.js")
		script(src="../js/main.js")