//- includes/main.jade
main.main
	div.container
		section.our-work
			h2 #[strong W]hat we do
			p Lorem ipsum dolor sit amet, #[a(href="#") consectetur adipisicing elit,] sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea #[span commodo consequat]. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. #[strong Excepteur sint occaecat] cupidatat non proident, sunt in culpa qui officia deserunt 
			h3 #[strong I]mages
			- var images=["../images/img-1.png", "../images/img-2.png", "../images/img-3.png", "../images/img-4.png"]
			q.quote Duis aute irure dolor in reprehenderit in voluptate velit esse
			ul.images
				-each image in images
					li: img(src=image alt="")
			h3 #[strong L]ists and Descriptions
			div.column.first
				ol.circle
					li Sed ut perspiciatis unde omnis iste natus
					li Lorem ipsum dolor sit amet, consectetur
					li At vero eos et accusamus et iusto odio
					li Et harum quidem rerum facilis est
			div.column
				ol.numbers
					li Sed ut perspiciatis unde omnis iste natus
					li Lorem ipsum dolor sit amet, consectetur
					li At vero eos et accusamus et iusto odio
					li Et harum quidem rerum facilis est
			div.column
				ul.nth-child
					li Sed ut perspiciatis unde omnis iste natus
					li Lorem ipsum dolor sit amet, consectetur
					li At vero eos et accusamus et iusto odio
					li Et harum quidem rerum facilis est
			h3 #[strong T]able
			.table-holder
				table
					tr
						th Lorem
						th Sed ut perspiciatis unde
						th Sed ut perspiciatis unde
						th Sed ut perspiciatis unde
					tr 
						td 	
							| At vero eos et
						td
							| At vero eos et
						td
							| At vero eos et
						td
							| At vero eos et
					tr 
						td 	
							| At vero eos et
						td
							| At vero eos et
						td
							| At vero eos et
						td
							| At vero eos et
					tr 
						td 	
							| At vero eos et
						td
							| At vero eos et
						td
							| At vero eos et
						td
							| At vero eos et
					tr 
						td 	
							| At vero eos et
						td
							| At vero eos et
						td
							| At vero eos et
						td
							| At vero eos et
			h3 #[strong F]orms
			form
				p Text:
				div.holder
					input(type="text" placeholder="Input type text").input-field
				p Select:
				div.holder.custom-search-holder
					select.custom-search
						option(value="0") Option
						option(value="1") Send
						option(value="2") Find
						option(value="3") Push
						option(value="4") Pull
				div.holder.custom-checkbox
					input(type="checkbox" name="checkbox1")#checkbox1
					label(for="checkbox1") Sed ut perspiciatis unde omnis iste natus
				div.holder.custom-radiobutton
					input(type="radio" name="radiobox1" checked)#radiobox1
					label(for="radiobox1") Lorem ipsum dolor sit amet, consectetur
				div.holder.custom-radiobutton
					input(type="radio" name="radiobox1")#radiobox2
					label(for="radiobox2") Lorem ipsum dolor sit amet, consectetur
				p Textarea:
				div.holder
					textarea(cols="30" rows="7")
				button(type="submit").btn Submit
				
