//- includes/header.jade
header.header
	div.top-header
		div.container
			div.left
				h1.logo: a(href="#") Black and White
			div.right
				input(type="search").search
				button(type="submit").btn.search-button Search
	div.bottom-header
		div.container
			div.banner
				div.wrapper
					img(src="../images/banner.png" alt="").imgScale
				p.slogan Lorem ipsum dolor sit amet, consectetur adipisicing elit, #[br] sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			nav
				ul.navigation
					li: span.active Home
					li: a(href="#") About
					li: a(href="#") Work
					li: a(href="#") Blog
					li: a(href="#") Contact
			nav.nav-mobile-first
				button(type="submit").menu
				ul.navigation
					li: span.active Home
					li: a(href="#") About
					li: a(href="#") Work
					li: a(href="#") Blog
					li: a(href="#") Contact
					li
						div.right
							input(type="search").search
							button(type="submit").btn.search-button Search
